%h1 Upcoming Sessions
-@previous_date = DateTime.new
-for session in @sessions
  -if session.date > @previous_date
    .date
      =session.date.strftime("%I:%M%p - %m/%d/%Y")
  .session{:class=>session.open_space? ? "open-space" : "session"}
    .title
      =session.title
      %span.speaker
        =" - #{session.speaker_detail}"
    .abstract
      :preserve
        #{session.formatted_abstract}
      -if(!session.room.nil?)
        .room
          Room:
          =session.room
    .clear
    -@previous_date = session.date