%h1 Upcoming Sessions
-for session in @sessions
  .session
    .title
      =session.title
      %span.speaker
        =" - #{session.speaker_name}"      
    .toggle
      %input{:type=>"checkbox"}
    .abstract
      =session.abstract
    .clear
